In [31]:
import pandas as pd
import numpy as np

In [32]:
gender_age_train = pd.read_csv('gender_age_train.csv')
phone_brand_device_model = pd.read_csv('phone_brand_device_model.csv')
events = pd.read_csv('events.csv')

In [33]:
gender_age_train_reqage = gender_age_train[gender_age_train['age'] >= 10]
gender_age_train_reqage = gender_age_train_reqage[gender_age_train_reqage['age'] <= 90]

In [34]:
gender_age_train_reqage.head()

             device_id gender  age   group
0 -8076087639492063270      M   35  M32-38
1 -2897161552818060146      M   35  M32-38
2 -8260683887967679142      M   35  M32-38
3 -4938849341048082022      M   30  M29-31
4   245133531816851882      M   30  M29-31

In [35]:
req_device_id = gender_age_train_reqage['device_id']
req_device_id.head(10)
req_device_id=req_device_id.drop_duplicates()
req_device_id = pd.DataFrame(req_device_id, columns = ['device_id'])
req_device_id.head(20)
req_deviceid_model = pd.merge(req_device_id, phone_brand_device_model, how='left', on=['device_id'])
#req_deviceid_model.head(50)

popular_brands = req_deviceid_model['phone_brand'].value_counts()[0:10]

In [36]:
popular_brands[0:10]

小米      17336
三星      13705
华为      13000
OPPO     5802
vivo     5658
魅族       4706
酷派       3349
联想       2695
金立       1124
HTC      1014
Name: phone_brand, dtype: int64

In [37]:
gender_age_train_reqage.head()

             device_id gender  age   group
0 -8076087639492063270      M   35  M32-38
1 -2897161552818060146      M   35  M32-38
2 -8260683887967679142      M   35  M32-38
3 -4938849341048082022      M   30  M29-31
4   245133531816851882      M   30  M29-31

In [38]:
genderage_phonemodel_merge=pd.merge(gender_age_train_reqage,phone_brand_device_model, how='left' , on=['device_id'])
genderage_phonemodel_merge = genderage_phonemodel_merge.drop('device_model', 1)

genderage_phonemodel_merge1=genderage_phonemodel_merge

genderage_phonemodel_merge["is_popular"] = ""

genderage_phonemodel_merge.head()

             device_id gender  age   group phone_brand is_popular
0 -8076087639492063270      M   35  M32-38          小米
1 -2897161552818060146      M   35  M32-38          小米
2 -8260683887967679142      M   35  M32-38          小米
3 -4938849341048082022      M   30  M29-31          小米
4   245133531816851882      M   30  M29-31          小米

In [39]:
for index, row in genderage_phonemodel_merge.iterrows():
    if(row['phone_brand'] in popular_brands):
        genderage_phonemodel_merge.iloc[index,5]=1
    else:
        genderage_phonemodel_merge.iloc[index,5]=0

In [144]:
'''check=[]
for index, row in genderage_phonemodel_merge.iterrows():
    if(row['phone_brand'] in popular_brands):
        check.append(genderage_phonemodel_merge.iloc[index,])
  
check_df=pd.DataFrame(check,columns=['device_id','gender','age','group','phone_brand','is_pop'])
check_df.head()
'''

In [40]:
genderage_phonemodel_merge.is_popular.value_counts(0)

1    68389
0     6443
Name: is_popular, dtype: int64

In [41]:
genderage_phonemodel_merge.shape

(74832, 6)

In [42]:
genderage_phonemodel_merge.head()

             device_id gender  age   group phone_brand is_popular
0 -8076087639492063270      M   35  M32-38          小米          1
1 -2897161552818060146      M   35  M32-38          小米          1
2 -8260683887967679142      M   35  M32-38          小米          1
3 -4938849341048082022      M   30  M29-31          小米          1
4   245133531816851882      M   30  M29-31          小米          1

In [43]:
device_id_ispopular=genderage_phonemodel_merge.drop_duplicates(subset=('device_id','gender','age','group','phone_brand','is_popular'))

In [44]:
device_id_ispopular.device_id.nunique()

74638

In [45]:
device_id_ispopular.shape

(74639, 6)

In [17]:
device_id_ispopular.head()

             device_id gender  age   group phone_brand is_popular
0 -8076087639492063270      M   35  M32-38          小米          1
1 -2897161552818060146      M   35  M32-38          小米          1
2 -8260683887967679142      M   35  M32-38          小米          1
3 -4938849341048082022      M   30  M29-31          小米          1
4   245133531816851882      M   30  M29-31          小米          1

In [46]:
device_id_ispopular.set_index('device_id').index.get_duplicates()

[5245428108336915020]

In [18]:
'''
print(device_id_ispopular.loc[device_id_ispopular['device_id'] == 5245428108336915020])'''

                 device_id gender  age group phone_brand is_popular
47507  5245428108336915020      M   18  M22-          魅族          1
47508  5245428108336915020      M   18  M22-          小米          1

In [47]:
device_id_ispopular=genderage_phonemodel_merge.drop_duplicates(subset=('device_id'))

In [48]:
device_id_ispopular.device_id.nunique()

74638

In [49]:
device_id_ispopular.shape

(74638, 6)

In [50]:
#merging with events and dropping time and location details
deviceid_events_ispopular=pd.merge(device_id_ispopular,events, how='left' , on= ['device_id'])
deviceid_events_ispopular=deviceid_events_ispopular.drop('timestamp',1)

deviceid_events_ispopular=deviceid_events_ispopular.drop('longitude',1)
deviceid_events_ispopular=deviceid_events_ispopular.drop('latitude',1)

In [51]:
deviceid_events_ispopular.shape

(1266924, 7)

In [52]:
deviceid_events_ispopular.head()

             device_id gender  age   group phone_brand is_popular   event_id
0 -8076087639492063270      M   35  M32-38          小米          1        NaN
1 -2897161552818060146      M   35  M32-38          小米          1        NaN
2 -8260683887967679142      M   35  M32-38          小米          1  2479656.0
3 -4938849341048082022      M   30  M29-31          小米          1        NaN
4   245133531816851882      M   30  M29-31          小米          1        NaN

In [53]:
#Number of rows with NaN's after merging with events.csv
count_nan = len(deviceid_events_ispopular) - deviceid_events_ispopular.count()
count_nan

device_id          0
gender             0
age                0
group              0
phone_brand        0
is_popular         0
event_id       51329
dtype: int64

In [54]:
deviceid_events_ispopular = deviceid_events_ispopular[np.isfinite(deviceid_events_ispopular['event_id'])]

In [55]:
deviceid_events_ispopular.shape

(1215595, 7)

In [56]:
#Number of unique device id's after merging with events.csv and removing NaN's
deviceid_events_ispopular.device_id.nunique()

23309

In [28]:
'''deviceid_events_ispopular=deviceid_events_ispopular.drop('phone_brand',1)
deviceid_events_ispopular.head()'''

              device_id gender  age   group is_popular   event_id
2  -8260683887967679142      M   35  M32-38          1  2479656.0
10  7477216237379271436      F   37  F33-42          1   280934.0
11  7477216237379271436      F   37  F33-42          1   363585.0
12  7477216237379271436      F   37  F33-42          1   935225.0
13  7477216237379271436      F   37  F33-42          1  1551108.0

In [57]:
#taking out the eventid's to be selected from app_events.csv
eventid_list =[]
eventid_list = deviceid_events_ispopular.event_id.unique()

In [30]:
'''app_labels = pd.DataFrame( columns=['app_id','label_id'])


app_labels.head()'''

Empty DataFrame
Columns: [app_id, label_id]
Index: []

In [148]:
'''for chunk_df in pd.read_csv('app_labels.csv', chunksize=100000):
        app_labels.append(chunk_df,ignore_index=True)
'''

In [58]:
#chunk processing to extract required event_id's from app_events.csv
req_event = []
for chunk_df in pd.read_csv('app_events.csv', chunksize=100000):
            req_event.append(chunk_df[chunk_df['event_id'].isin(eventid_list)])

In [59]:
#converting the list into a dataframe app_events_req
app_labels = pd.DataFrame(req_event[0])
for i in range(1, 325):
           app_labels1 = pd.DataFrame(req_event[i])
           app_labels=app_labels.append(app_labels1)

app_events_req = app_labels

In [60]:
app_events_req.head()

    event_id               app_id  is_installed  is_active
19         6 -7377004479023402858             1          1
20         6  6284164581582112235             1          1
21         6  5927333115845830913             1          1
22         6  3433289601737013244             1          1
23         6 -3467200097934864127             1          1

In [61]:
deviceid_events_ispopular.head()

              device_id gender  age   group phone_brand is_popular   event_id
2  -8260683887967679142      M   35  M32-38          小米          1  2479656.0
11  7477216237379271436      F   37  F33-42          华为          1   280934.0
12  7477216237379271436      F   37  F33-42          华为          1   363585.0
13  7477216237379271436      F   37  F33-42          华为          1   935225.0
14  7477216237379271436      F   37  F33-42          华为          1  1551108.0

In [32]:
#app_events_req = pd.read_csv("app_events_req.csv")

In [62]:
#merging with the extracted app_events_req dataframe 
appid_devid_ispop=pd.merge(deviceid_events_ispopular,app_events_req , how= "left" , on = ['event_id'])

In [63]:
appid_devid_ispop.head()

,device_id,gender,age,group,phone_brand,is_popular,event_id,app_id,is_installed,is_active
0,-8260683887967679142,M,35,M32-38,小米,1,2479656.0,4.287147e+18,1.0,0.0
1,-8260683887967679142,M,35,M32-38,小米,1,2479656.0,-4.085687e+18,1.0,0.0
2,-8260683887967679142,M,35,M32-38,小米,1,2479656.0,6.324195e+18,1.0,0.0
3,-8260683887967679142,M,35,M32-38,小米,1,2479656.0,-8.687507e+18,1.0,0.0
4,-8260683887967679142,M,35,M32-38,小米,1,2479656.0,8.772885e+17,1.0,1.0

In [40]:
#appid_devid_ispop.to_csv("appid_dev_id_ispop_evid.csv")

In [64]:
app_labels = pd.read_csv("app_labels.csv")
label_categories = pd.read_csv("label_categories.csv")

In [65]:
#merging app_labels and label_categories
appid_category = pd.merge(app_labels,label_categories, how ="left" , on = ['label_id'])

In [66]:
appid_category.head()

                app_id  label_id         category
0  7324884708820027918       251          Finance
1 -4494216993218550286       251          Finance
2  6058196446775239644       406          unknown
3  6058196446775239644       407  DS_P2P net loan
4  8694625920731541625       406          unknown

In [67]:
#final merge to get the required dataframe
entire_set = pd.merge(appid_devid_ispop, appid_category, how = "left" ,on =['app_id'])

In [2]:
#entire_set=pd.read_csv("entire_set.csv")

In [68]:
entire_set.shape

(13356258, 12)

In [69]:
entire_set.head()

,device_id,gender,age,group,phone_brand,is_popular,event_id,app_id,is_installed,is_active,label_id,category
0,-8260683887967679142,M,35,M32-38,小米,1,2479656.0,4.287147e+18,1.0,0.0,NaN,NaN
1,-8260683887967679142,M,35,M32-38,小米,1,2479656.0,-4.085687e+18,1.0,0.0,NaN,NaN
2,-8260683887967679142,M,35,M32-38,小米,1,2479656.0,6.324195e+18,1.0,0.0,NaN,NaN
3,-8260683887967679142,M,35,M32-38,小米,1,2479656.0,-8.687507e+18,1.0,0.0,NaN,NaN
4,-8260683887967679142,M,35,M32-38,小米,1,2479656.0,8.772885e+17,1.0,1.0,NaN,NaN

In [70]:
#dropping the label_id
entire_set=entire_set.drop('label_id',1)

In [6]:
#entire_set=entire_set.drop('Unnamed: 0',1)

In [71]:
#Number of rows with NaN's
count_nan = len(entire_set) - entire_set.count()
count_nan

device_id              0
gender                 0
age                    0
group                  0
phone_brand            0
is_popular             0
event_id               0
app_id            659220
is_installed      659220
is_active         659220
category        12819790
dtype: int64

In [72]:
#removing NaN's from entire_set
entire_set_nanremoved =  entire_set.dropna(axis=0, how='any')

In [73]:
count_nan = len(entire_set_nanremoved) - entire_set_nanremoved.count()
count_nan

device_id       0
gender          0
age             0
group           0
phone_brand     0
is_popular      0
event_id        0
app_id          0
is_installed    0
is_active       0
category        0
dtype: int64

In [74]:
entire_set_nanremoved.shape

(536468, 11)

In [75]:
entire_set_nanremoved.head()

,device_id,gender,age,group,phone_brand,is_popular,event_id,app_id,is_installed,is_active,category
503,-6876541075223249434,M,75,M39+,魅族,1,822284.0,-1.771591e+16,1.0,1.0,Services 1
504,-6876541075223249434,M,75,M39+,魅族,1,822284.0,-1.771591e+16,1.0,1.0,Property Industry 2.0
505,-6876541075223249434,M,75,M39+,魅族,1,822284.0,-1.771591e+16,1.0,1.0,Industry tag
506,-6876541075223249434,M,75,M39+,魅族,1,822284.0,-1.771591e+16,1.0,1.0,Technology Information
625,-6876541075223249434,M,75,M39+,魅族,1,1139762.0,-1.936277e+16,1.0,0.0,Contacts

In [76]:
#Number of unique device_id's 
entire_set_nanremoved.device_id.nunique()

4496

In [77]:
#Total number of unique categories
label_categories.category.nunique()

835

In [78]:
#Number of unique categories
entire_set_nanremoved.category.nunique()

144

In [80]:
entire_set_nanremoved.to_csv("entire_set_nanremoved_train.csv")

In [64]:
unique_cat_list =[]
unique_cat_list=entire_set_nanremoved.category.unique()

In [66]:
unique_cat_list[0:10]

array(['1 free', 'Property Industry 2.0', 'Industry tag', 'video',
       'Custom label', 'And the Church', 'Internet banking',
       'Financial Services', 'Low liquidity', 'Low income'], dtype=object)

In [68]:
unique_dev_list =[]
unique_dev_list=entire_set_nanremoved.device_id.unique()
unique_dev_list[0:10]

array([-7271319853104672050, -8428853393823283356, -7882183570062087941,
         202462323314332621, -7464543035045993775, -6711641544479668924,
        8655869457573847114, -6242893361006209354, -6000733973296812644,
       -4249929128118593776])

In [69]:
#temp_df=entire_set_nanremoved.loc[entire_set_nanremoved['device_id'] == unique_dev_list[2]]

In [70]:
#temp_df.head()

,device_id,gender,age,group,phone_brand,is_popular,event_id,app_id,is_installed,is_active,category
4604,-7882183570062087941,M,24,M23-26,vivo,1,10137.0,-1.768541e+16,1.0,0.0,Property Industry 1.0
4605,-7882183570062087941,M,24,M23-26,vivo,1,10137.0,-1.768541e+16,1.0,0.0,Personal Effectiveness 1
4606,-7882183570062087941,M,24,M23-26,vivo,1,10137.0,-1.768541e+16,1.0,0.0,Property Industry 2.0
4607,-7882183570062087941,M,24,M23-26,vivo,1,10137.0,-1.768541e+16,1.0,0.0,Industry tag
4636,-7882183570062087941,M,24,M23-26,vivo,1,10137.0,-4.986140e+15,1.0,0.0,community

In [62]:
#cat_count_eachdev=temp_df['category'].value_counts(unique_cat_list[0])

In [81]:
#Category wise count for each device id
cat_count_eachdev=entire_set_nanremoved.groupby('device_id').apply(lambda x: 
                          x[['category']].apply(lambda y: y.value_counts())).fillna(0)

In [82]:
cat_count_eachdev.shape

(29909, 1)

In [83]:
cat_count_eachdev.head()

                                             category
device_id
-9217193238265898015 Industry tag                   1
                     Property Industry 2.0          1
                     Services 1                     1
                     Technology Information         1
-9212412905070443687 Industry tag                  18

In [84]:
cat_count_eachdev.to_csv("cat_count_eachdev_train.csv")

In [85]:
cat_count_eachdev.columns

Index(['category'], dtype='object')

In [80]:
col_name=['device_id','gender','age','group','phone_brand','is_popular']
cat_count_df = pd.DataFrame(columns=col_name)
cat_count_df1 = pd.DataFrame(columns=unique_cat_list)
result = pd.concat([cat_count_df, cat_count_df1], axis=1)
result.head()

In [73]:
result.to_csv("result.csv")

In [111]:
train_set=pd.read_csv("twelve_class_train.csv")

In [112]:
train_set.head()

,Unnamed: 0,device_id,1 free,1 reputation,1 vitality,Air Travel,And the Church,ARPG,A shares,business,...,Travel Information,Trendy / cool 1,unknown,US and Europe animation,Utilities,video,Wealth Management,zombies game,is_popular,Group
0,1,1010695836149069798,3,0,0,0,0,0,0,0,...,0,0,0,0,0,3,0,0,0,M27-28
1,2,1010870382245346958,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,M29-31
2,3,1019329510387703328,0,0,0,0,18,0,0,0,...,0,0,0,0,0,0,18,0,1,M29-31
3,4,1023369573882581449,0,0,0,0,17,0,0,0,...,0,0,0,0,0,0,17,0,1,M29-31
4,5,1027236792119290690,2,0,0,0,4,0,0,0,...,0,0,0,0,0,2,4,0,1,M39+

In [113]:
train_set=train_set.drop('Unnamed: 0',1)

In [119]:
train_set.set_index('device_id',inplace=True)

In [120]:
X=train_set.ix[:,0:143]
X=pd.DataFrame(X)
type(X)

pandas.core.frame.DataFrame

In [121]:
X.head()

,1 free,1 reputation,1 vitality,Air Travel,And the Church,ARPG,A shares,business,Business simulation,Car,...,travel,Travel Information,Trendy / cool 1,unknown,US and Europe animation,Utilities,video,Wealth Management,zombies game,is_popular
device_id,,,,,,,,,,,,,,,,,,,,,
1010695836149069798,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,3,0,0,0
1010870382245346958,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1019329510387703328,0,0,0,0,18,0,0,0,0,0,...,0,0,0,0,0,0,0,18,0,1
1023369573882581449,0,0,0,0,17,0,0,0,0,0,...,0,0,0,0,0,0,0,17,0,1
1027236792119290690,2,0,0,0,4,0,0,0,0,0,...,0,0,0,0,0,0,2,4,0,1

In [109]:
Y[0:10]

device_id
 1010695836149069798    M27-28
 1010870382245346958    M29-31
 1019329510387703328    M29-31
 1023369573882581449    M29-31
 1027236792119290690      M39+
 1029510702167495084    F29-32
 1031817609126031772    M27-28
-1032555705119615296      F43+
-1034442578068177113      M39+
 1034859777753387805    M29-31
Name: Group, dtype: object

In [122]:
Y=train_set['Group']
type(Y)

pandas.core.series.Series

In [123]:
from sklearn.linear_model import LogisticRegression
from sklearn import cross_validation
from sklearn.metrics import classification_report
from sklearn.cross_validation import StratifiedKFold

In [124]:
skf = StratifiedKFold(Y, n_folds=3)
for train_index, test_index in skf:
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = Y.iloc[train_index], Y.iloc[test_index]
    model = LogisticRegression(class_weight='auto')
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test.values)
    print(classification_report(y_test, y_pred))

/home/xoanon/anaconda3/lib/python3.5/site-packages/sklearn/utils/class_weight.py:62: DeprecationWarning: The class_weight='auto' heuristic is deprecated in 0.17 in favor of a new heuristic class_weight='balanced'. 'auto' will be removed in 0.19
  " 0.19", DeprecationWarning)

             precision    recall  f1-score   support

       F23-       0.04      0.25      0.07        61
     F24-26       0.06      0.43      0.10        42
     F27-28       0.03      0.11      0.04        47
     F29-32       0.02      0.01      0.02        75
     F33-42       0.09      0.05      0.06       102
       F43+       0.10      0.05      0.06        88
       M22-       0.08      0.13      0.10       111
     M23-26       0.18      0.05      0.08       150
     M27-28       0.10      0.06      0.07       108
     M29-31       0.14      0.06      0.08       177
     M32-38       0.18      0.03      0.05       258
       M39+       0.35      0.14      0.20       284

avg / total       0.16      0.09      0.09      1503

/home/xoanon/anaconda3/lib/python3.5/site-packages/sklearn/utils/class_weight.py:62: DeprecationWarning: The class_weight='auto' heuristic is deprecated in 0.17 in favor of a new heuristic class_weight='balanced'. 'auto' will be removed in 0.19
  " 0.19", DeprecationWarning)

             precision    recall  f1-score   support

       F23-       0.06      0.36      0.10        61
     F24-26       0.05      0.17      0.08        41
     F27-28       0.01      0.02      0.02        47
     F29-32       0.04      0.01      0.02        75
     F33-42       0.06      0.05      0.05       102
       F43+       0.09      0.19      0.12        88
       M22-       0.10      0.26      0.14       111
     M23-26       0.16      0.07      0.10       150
     M27-28       0.04      0.01      0.02       107
     M29-31       0.28      0.04      0.07       176
     M32-38       0.18      0.06      0.09       258
       M39+       0.31      0.12      0.17       284

avg / total       0.16      0.10      0.10      1500

/home/xoanon/anaconda3/lib/python3.5/site-packages/sklearn/utils/class_weight.py:62: DeprecationWarning: The class_weight='auto' heuristic is deprecated in 0.17 in favor of a new heuristic class_weight='balanced'. 'auto' will be removed in 0.19
  " 0.19", DeprecationWarning)

             precision    recall  f1-score   support

       F23-       0.06      0.02      0.03        60
     F24-26       0.05      0.05      0.05        41
     F27-28       0.00      0.00      0.00        47
     F29-32       0.03      0.01      0.02        74
     F33-42       0.07      0.02      0.03       101
       F43+       0.16      0.13      0.14        87
       M22-       0.09      0.06      0.07       110
     M23-26       0.14      0.03      0.05       150
     M27-28       0.00      0.00      0.00       107
     M29-31       0.12      0.70      0.21       176
     M32-38       0.29      0.05      0.09       257
       M39+       0.31      0.13      0.18       283

avg / total       0.16      0.14      0.10      1493

In [62]:
'''from sklearn import  linear_model
from sklearn import cross_validation
from sklearn.metrics import classification_report
from sklearn.cross_validation import StratifiedKFold
from sklearn.metrics import r2_score'''

In [85]:
'''skf = StratifiedKFold(Y, n_folds=3)
for train_index, test_index in skf:
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = Y.iloc[train_index], Y.iloc[test_index]
    model = linear_model.LinearRegression()
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test.values)
    print(r2_score(y_test.values, y_pred, multioutput ='uniform_average') )'''

-2.56075952935e+19
-3.69135844463e+19
-3.3219378151e+20
-6.07965551514e+20
-1.07321648372e+21

In [87]:
'''y_test.head(10)'''

2162    36
2196    36
2198    36
2199    36
2202    36
2256    36
2288    35
2364    35
2374    36
2375    35
Name: age, dtype: int64

In [86]:
'''y_pred[0:10]'''

array([ 27.43408203,  29.15185547,  26.73486328,  27.12011719,
        27.49169922,  27.97998047,  30.04199219,  29.27880859,
        28.8359375 ,  28.90332031])

In [87]:
train_set=pd.read_csv("twelve_class_train.csv")

In [88]:
train_set.head()

,Unnamed: 0,device_id,1 free,1 reputation,1 vitality,Air Travel,And the Church,ARPG,A shares,business,...,Travel Information,Trendy / cool 1,unknown,US and Europe animation,Utilities,video,Wealth Management,zombies game,is_popular,Group
0,1,1010695836149069798,3,0,0,0,0,0,0,0,...,0,0,0,0,0,3,0,0,0,M27-28
1,2,1010870382245346958,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,M29-31
2,3,1019329510387703328,0,0,0,0,18,0,0,0,...,0,0,0,0,0,0,18,0,1,M29-31
3,4,1023369573882581449,0,0,0,0,17,0,0,0,...,0,0,0,0,0,0,17,0,1,M29-31
4,5,1027236792119290690,2,0,0,0,4,0,0,0,...,0,0,0,0,0,2,4,0,1,M39+

In [89]:
train_set=train_set.drop('Unnamed: 0',1)

In [90]:
train_set.set_index('device_id',inplace=True)

In [93]:
X=train_set.ix[:,0:143]
X=pd.DataFrame(X)
type(X)

pandas.core.frame.DataFrame

In [94]:
X.head()

,1 free,1 reputation,1 vitality,Air Travel,And the Church,ARPG,A shares,business,Business simulation,Car,...,travel,Travel Information,Trendy / cool 1,unknown,US and Europe animation,Utilities,video,Wealth Management,zombies game,is_popular
device_id,,,,,,,,,,,,,,,,,,,,,
1010695836149069798,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,3,0,0,0
1010870382245346958,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1019329510387703328,0,0,0,0,18,0,0,0,0,0,...,0,0,0,0,0,0,0,18,0,1
1023369573882581449,0,0,0,0,17,0,0,0,0,0,...,0,0,0,0,0,0,0,17,0,1
1027236792119290690,2,0,0,0,4,0,0,0,0,0,...,0,0,0,0,0,0,2,4,0,1

In [95]:
Y=train_set['Group']
type(Y)

pandas.core.series.Series

In [96]:
test_set=pd.read_csv("twelve_class_test.csv")

In [97]:
test_set.shape

(6735, 145)

In [98]:
test_set=test_set.drop('Unnamed: 0',1)

In [99]:
test_set.set_index('device_id',inplace=True)

In [100]:
test=test_set.ix[:,0:143]
test=pd.DataFrame(test)
type(test)

pandas.core.frame.DataFrame

In [101]:
test.head()

,1 free,1 reputation,1 vitality,Air Travel,And the Church,ARPG,A shares,business,Business simulation,Car,...,travel,Travel Information,Trendy / cool 1,unknown,US and Europe animation,Utilities,video,Wealth Management,zombies game,is_popular
device_id,,,,,,,,,,,,,,,,,,,,,
1000143918649182197,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,12,0,1
-1000667340060427374,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1000697382856775057,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
-100098646088222553,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
-100101996136889832,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [102]:
from sklearn.linear_model import LogisticRegression

In [103]:
model = LogisticRegression(class_weight='auto')
model.fit(X, Y)
y_pred = model.predict_proba(test)

/home/xoanon/anaconda3/lib/python3.5/site-packages/sklearn/utils/class_weight.py:62: DeprecationWarning: The class_weight='auto' heuristic is deprecated in 0.17 in favor of a new heuristic class_weight='balanced'. 'auto' will be removed in 0.19
  " 0.19", DeprecationWarning)

In [104]:
y_pred

array([[ 0.01080664,  0.11488699,  0.1079811 , ...,  0.12965935,
         0.11165595,  0.08253385],
       [ 0.10128002,  0.00630662,  0.11078458, ...,  0.05741116,
         0.08433694,  0.10169857],
       [ 0.13479687,  0.1157898 ,  0.06275459, ...,  0.05716975,
         0.03637134,  0.08813282],
       ...,
       [ 0.07144365,  0.08917627,  0.09319171, ...,  0.08333275,
         0.08109986,  0.08870152],
       [ 0.1006013 ,  0.07926853,  0.09179187, ...,  0.07694952,
         0.07521054,  0.08055402],
       [ 0.19280423,  0.00028634,  0.01473473, ...,  0.12091983,
         0.12752949,  0.10606115]])

In [105]:
second_submission = pd.DataFrame(y_pred)

In [106]:
second_submission.to_csv("third_submission.csv")